spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rescreen
    username: postgres
    password: Rescreen@22

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    root: DEBUG
